{% extends 'base.html' %}
{% block content %}

<div class="jumbotron text-center">
    <h1 class="display-3" style="color: green;">Order Placed!</h1>
    <p class="lead"><b style="color: black;">Your Order ID is {{order_id}}</b> for further instructions on how to complete your account setup.</p>
    <!-- <hr>
    <p>
      Having trouble? <a href="">Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="https://bootstrapcreative.com/" role="button">Continue to homepage</a>
    </p> -->
  </div>

{% endblock %}